* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 40px;
}

#logo {
    width: 800px;
}

.fruit-counter-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.red-border:focus-within {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid red;
}
/* Dit hoort bij de conditionele styling, zie verder de beschrijving in App.js. Helaas werkt het nog niet... :'-( */

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-field-comment {
    display: flex;
    flex-direction: column;
}

label {
    margin-inline: 10px;
}

#comment-field-label {
    align-self: flex-start;
    margin-left: 20px;
}

#agree-to-terms-checkbox {
    margin-right: 10px;
}
